/*Estilos da página index.html*/

.container {
   display: flex;
   flex-flow: row;
   justify-content: center;
   align-items: center;
}
.center {
    text-align: center;
}

.justify {
    text-align: justify;
}

body {
    background-image: url("../img/background.jpg");
    opacity: 1.65;
}

.font{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

}
#menu li {
    display: inline;
    padding: 15px;
    font-size: 20px;
}

#menu a {
    text-decoration: none;
    color: black;
}

#menu li a:hover {
    color: grey;
    
}

.p-30 {
    padding: 30px;
}

.br-50 {
    border-radius: 50%;
}

.tm-social {
    width: 50px;
    height: 50px;
}
/*Estilos da página contato.html*/

.ml-50 {
    margin-left: 50px;
}

.mb-50 { 
    margin-bottom: 50px;
}